.m10{
    margin: 10px ;
}.m20{
    margin: 20px ;
}.m30{
    margin: 30px ;
}

.ml10{
    margin-left: 10px ;
}.ml20{
    margin-left: 20px ;
}.ml30{
    margin-left: 30px ;
}

.mr10{
    margin-right: 10px ;
}.mr20{
    margin-right: 20px ;
}.mr30{
    margin-right: 30px ;
}

.bgWhite{
    background-color: rgb(255, 255, 255);
}
.bgGrey{
    background-color: rgb(238, 238, 238);
}
.textBlue{
    color: rgb(95, 95, 141);
}